nav.navbar{
    border-bottom: thick solid#D69A00;
     
}

.bg-silver {
    background-color: slategray;
}

div.mainContactContainer{
  margin-left: 30%;
}

h1 {
    background-color: #D69A00;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
h1.text-info{
  color: #D69A00 !important;
  background-color: white !important;
  font-size: 22px;
}


body{
   background-color: #1a2930;
}

.gold {
    color:#D69A00;
}


.nav-link {
    color: #0A1612;
    font-weight: bold;
    
}

.row.taller-row{
  height: 25px;
}



div.copyright {
    border-top: thick solid #D69A00;
    background-color: rgba(0, 0, 0, .2);
    position: sticky bottom;
}

footer#p {
    float: center;
    position: sticky bottom;
}
footer {
    position: fixed;
    bottom: -17px;
    width: 100%;
    margin: 0;
    padding: 0;
}

h5{
    text-align: center;
    opacity: .9;
}

div.resumeCont {
  width: 980px;
  height: 790px;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: auto;
}

iframe{
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

  
  @media screen and (max-width: 768px) {
    body {
   background-color: #1a2930;
    }
  
    .wrapper {
      
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
    div.container{
      max-width: 650px;
    }
  }
  
  @media screen and (max-width: 400px) {
    body {
   background-color: #1a2930;
    }
  
    .wrapper {
      
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
    div.container{
      max-width: 380px;
    }
  }
  
  
  @media screen and (max-width: 992px) {
    body {
        background-color: #1a2930;
      
    }
  
    .wrapper {
      
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
    
    div.resumeCont{
    max-width: 340px;
    }
    iframe{
      max-width: 320px;
      margin-left: 3%;
      max-height: 750px;
    }
    .nav{
      display: inline-flex;
      font-size: 13px;
    }
  }
  